<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desmond.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Desmond.Settings>
            <setting name="StockMaps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>KF-BurningParis</string>
                        <string>KF-Bioticslab</string>
                        <string>KF-Outpost</string>
                        <string>KF-VolterManor</string>
                        <string>KF-Catacombs</string>
                        <string>KF-EvacuationPoint</string>
                        <string>KF-Farmhouse</string>
                        <string>KF-BlackForest</string>
                        <string>KF-Prison</string>
                        <string>KF-ContainmentStation</string>
                        <string>KF-HostileGrounds</string>
                        <string>KF-InfernalRealm</string>
                        <string>KF-ZedLanding</string>
                        <string>KF-Nuked</string>
                        <string>KF-TheDescent</string>
                        <string>KF-TragicKingdom</string>
                        <string>KF-Nightmare</string>
                        <string>KF-KrampusLair</string>
                        <string>KF-DieSector</string>
                        <string>KF-PowerCore_Holdout</string>
                        <string>KF-Lockdown</string>
                        <string>KF-Airship</string>
                        <string>KF-ShoppingSpree</string>
                        <string>KF-MonsterBall</string>
                        <string>KF-Santasworkshop</string>
                        <string>KF-Spillway</string>
                        <string>KF-SteamFortress</string>
                        <string>KF-AshwoodAsylum</string>
                        <string>KF-Sanitarium</string>
                        <string>KF-Biolapse</string>
                        <string>KF-Desolation</string>
                        <string>KF-HellmarkStation</string>
                        <string>KF-Elysium</string>
                        <string>KF-Dystopia2029</string>
                        <string>KF-Moonbase</string>
                        <string>KF-Netherhold</string>
                        <string>KF-CarillonHamlet</string>
                        <string>KF-Rig</string>
                        <string>KF-BarmwichTown</string>
                        <string>KF-Crash</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Desmond.Settings>
    </userSettings>
</configuration>